<div class="container my-5 text-white">
  <div class="row my-3 offset-1">
    <div class="col-6">
      <h4><会員情報編集></h4>
    </div>
  </div>

  <%= form_with model: @end_user, url: end_users_my_page_edit_path do |f| %>
  <div class="row mx-auto">
    <div class="col-3 pl-5 offset-1">
      <P>プロフイール画像</P>
    </div>

    <div class="form-floating">
      <%= f.file_field :profile_image,  accept: "image/*", autofocus: true, id:":ProfileImage" %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-3 pl-5 offset-1">
      <P>ニックネーム</P>
    </div>

    <div class="form-floating">
      <%= f.text_field :name, autofocus: true, id:":Name" %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-3 pl-5 offset-1">
      <p>メールアドレス</p>
    </div>

    <div class="from-floating">
      <%= f.text_field :email, autofocus: true, id:"inputEmail" %>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-3 pl-5 offset-1">
      <p>なんでもメモ</p>
    </div>

    <div class="from-floating">
      <%= f.text_area :introduction, :size => "51x8", autofocus: true, id:":Introduction" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 pl-1 pt-3 mx-auto ">
      <%= f.submit "内容を保存する", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-4 pl-1 pt-5 mx-auto">
      <%= link_to "退会する", end_users_confirm_path, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>
