<h1>編集画面</h1>

<%= form_with model: @post_plamo, url: post_plamo_path(@post_plamo.id), method: :patch do |f| %>

  <h4>画像</h4>
  <%= f.file_field :plamo_image, accept: "image/*" %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>こだわりポイントや設定 etc...</h4>
  <%= f.text_area :introduction %>

  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
    <div class="form-check form-check-inline flex flex-wrap">
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit '保存' %>

<% end %>