<div class="container">
  <div class="row  my-5 offset-1">
    <div class="col-5">
      <h4><編集画面></h4>
    </div>
  </div>

  <%= form_with model: @post_plamo, url: post_plamo_path(@post_plamo.id), method: :patch do |f| %>
  <div class="row mb-4 mx-auto">
    <div class="col-3 pl-5 offset-1">
      <h5>タイトル</h5>
    </div>

    <div class="form-floating offset-1">
      <%= f.text_field :title, size: "40" %>
    </div>
  </div>

  <div class="row mb-4 mx-auto">
    <div class="col-4 pl-5 offset-1">
      <h5>こだわりポイントや設定 etc...</h5>
    </div>

    <div class="form-floating">
      <%= f.text_area :introduction, size: "40x8" %>
    </div>
  </div>

  <div class="row mb-4 mx-auto">
    <div class="col-3 pl-5 mb-4 offset-1">
      <h5>タグ</h5>
    </div>

    <div class="form-floating offset-1">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
        <div class="form-check form-check-inline flex flex-wrap">
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-4 mx-auto">
    <div class="col-4 pl-5 offset-1">
      <h5>画像　※８枚まで投稿できます</h5>
      <%= f.file_field :plamo_images, accept: "image/*", multiple: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 mx-auto">
      <%= f.submit "UP DATE", class: "btn btn-outline-success btn-block" %>
    </div>
  </div>
    <% end %>
</div>