<div class="container">
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3 ml-5 text-white">
      <h1>NEW PLAMO</h1>
    </div>
    <div class="col-2">
      <%= link_to "投稿する", new_post_plamo_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-3 ml-5">
      <%= form_with url: post_plamos_path, method: :get, local: true, class: 'boards__searchForm' do |f|%>
        <div class="input-group">
          <%= f.text_field :keyword, value: @keyword, class: "form-control search-control", placeholder: "キーワードを入力" %>
          <span class="input-group-btn input-group-append">
            <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
              <i class="fas fa-search"></i> 検索</submit>
            <% end %>
          </span>
        </div>
    </div>

    <div class="col-2">
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), { prompt: "タグで絞り込み検索", onchange: "submit(this.form);" } %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <% @post_plamos.order(created_at: :desc).each do |post_plamos| %>
    <div class="col-3">
      <div class="card-deck my-3">
        <div class="card text-center pt-2" style="width: 10rem;">
          <%= link_to post_plamo_path(post_plamos) do %>
            <%= image_tag post_plamos.get_plamo_images[0], class:"card-imag-top", size:"200x200" %>
          <% end %>

          <div class="card-body">
            <div class="row">
              <div class="col-10 mx-auto">
                <p class="card-text text-left">
                  <%= post_plamos.title %>
                </P>
                <p class="card-text text-left">
                  <%= image_tag post_plamos.end_user.get_profile_image, size: "50x50", class:"mr-3 rounded-circle"; %><%= post_plamos.end_user.name %>
                </p>
                <p class="card-text text-left">
                  <%= post_plamos.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3 mx-auto">
      <%= paginate @post_plamos %>
    </div>
  </div>
</div>