<h1>新規投稿</h1>
<% if @post_plamo.errors.any? %>
  <%= @post_plamo.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_plamo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post_plamo do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>こだわりポイントや設定 etc...</h4>
  <%= f.text_area :introduction %>

  <div class="field">
    <h4>画像</h4>
    <%= f.file_field :plamo_images, accept: "image/*", multiple: true %>

    <div class="image_preview">
      <!--<#%= if @post_plamo.plamo_images.attached? %>-->
      <!--  <#%= image_tag @post_plamo.plamo_images.variant(resize_to_fill: [100, 100]).processed %>-->
      <!--<#% end %>-->


    <% if @post_plamo.plamo_images.attached? %>
      <%= @post_plamo.plamo_images do |images| %>
        <%= image_tag images.variant(resize_to_limit: [200, 200]) %>
      <% end %>
    <% end %>
    </div>
  </div>

  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
    <div class="form-check form-check-inline flex flex-wrap">
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit '投稿', class: "btn btn-success" %>
<% end %>