<div>
  <%= image_tag @post_plamo.plamo_image, size:"300x300" %>
  <p>ニックネーム：<%= @post_plamo.end_user.name %></p>
  <p>タイトル：<%= @post_plamo.title %></p>
  <p>こだわりポイントや設定 etc：<%= @post_plamo.introduction %></p>
  <% @post_plamo.tags.each do |tag| %>
    <p>タグ：<%= tag.tag_name %></p>
  <% end %>
  <% if @post_plamo.favorited_by?(current_end_user) %>
    <h6>
      <%= link_to post_plamo_favorites_path(@post_plamo), method: :delete do %>
        ♥<%= @post_plamo.favorites.count %> いいね
      <% end %>
    </h6>
    <% else %>
    <h6>
      <%= link_to post_plamo_favorites_path(@post_plamo), method: :post do %>
        ♡<%= @post_plamo.favorites.count %> いいね
      <% end %>
    </h6>
  <% end %>
</div>

<% if @post_plamo.end_user == current_end_user %>
  <%= link_to "編集する", edit_post_plamo_path, class: "btn btn-success" %>
  <%= link_to "削除する", post_plamo_path(@post_plamo.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
<% end %>