<div class="container">
  <div class="row mx-auto">
    <div class="col-5">
      <div class="slider">
        <% @post_review.review_images.each do |images| %>
          <%= image_tag images, class:"img" %>
        <% end %>
      </div>
      <div class="thumbnail">
        <% @post_review.review_images.each do |images| %>
          <%= image_tag images, class:"img" %>
        <% end %>
      </div>
    </div>

     <div class="col-6 mt-5 ml-5">
      <div>
        <%= link_to "削除する", admin_post_review_path(@post_review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      </div>

      <table class="table table-borderless">
        <tr>
          <th class="table_item_name">ニックネーム</th>
          <td><%= @post_review.end_user.name %></td>
        </tr>
        <tr>
          <th class="table_item_title">タイトル</th>
          <td><%= @post_review.title %></td>
        </tr>
        <tr>
          <th class="table_item_item">商品名</th>
          <td><%= @post_review.review_item %></td>
        </tr>
        <tr>
          <th class="table_item_feeling">使ってみた感想</th>
        </tr>
        <tr>
          <td><%= safe_join(@post_review.feeling.split("\n"),tag(:br)) %></td>
        </tr>
      </table>

    </div>
  </div>
</div>