<div class="container">
  <div class="row  my-5 offset-1">
    <div class="col-5">
      <h4>編集画面</h4>
    </div>
  </div>

  <%= form_with model: @post_review, url: post_review_path(@post_review.id), method: :patch do |f| %>
   <div class="row mb-4 mx-auto">
    <div class="col-3 pl-5 offset-1">
      <h5>タイトル</h5>
    </div>

    <div class="form-floating offset-1">
      <%= f.text_field :title, size: "40" %>
    </div>
  </div>

   <div class="row mb-4 mx-auto">
    <div class="col-4 pl-5 offset-1">
      <h5>商品名</h5>
    </div>

    <div class="form-floating">
      <%= f.text_field :review_item, size: "40x8" %>
    </div>
  </div>

   <div class="row mb-4 mx-auto">
    <div class="col-4 pl-5 offset-1">
      <h5>使ってみた感想</h5>
    </div>

    <div class="form-floating">
      <%= f.text_area :feeling, size: "40x8" %>
    </div>
  </div>

  <div class="row mb-4 mx-auto">
    <div class="col-4 pl-5 offset-1">
      <h5>画像　※5枚まで投稿できます</h5>
      <%= f.file_field :review_item_image, accept: "image/*", multiple: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 mx-auto">
      <%= f.submit 'UP DATE', class: "btn btn-outline-success btn-block" %>
    </div>
  </div>
  <% end %>
</div>