<div class="container" >
  <div class="row my-3 offset-1">
    <div class="col-4">
      <h4><タグ一覧・追加/削除></h4>
    </div>
  </div>

  <div class="row offset-2">
  <%= form_with model: @tag, url: admin_tags_path,method: :post do |f| %>
    <table class="table mt-3 text-white">
      <tbody>
        <tr>
          <td class="align-middle">タグ名</td>
          <td class="center align-middle">
            <%= f.text_field:tag_name, size: "40" %>
          </td>
          <td colspan="2"></td>
          <td>
            <%= f.submit "新規登録", class: "btn btn-primary" %>
          </td>
        </tr>
  <% end %>
      <thead class="thead-light">
        <tr>
          <th>タグ</th>
          <th colspan="6"></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
          <td class="align-middle"><%= tag.tag_name %></td>
          <td colspan="3"></td>
          <td>
            <%= link_to "タグを削除する", admin_tag_path(tag.id), class: "btn btn-danger", method: :delete, "data-confirm" => "タグを削除した場合、投稿やレビューに影響が出ます。本当に削除しますか？" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>