<!--管理者の会員情報編集画面-->
<div class="container my-5">
  <div class="row my-3 offset-1">
    <div class="col-4">
      <h4><<%= @end_user.name %>さんの会員詳細></h4>
    </div>
  </div>

<!--会員の登録情報-->
  <div class="row offset-2">
    <div class="col-6">
    <%= form_with model: @end_user, url: admin_end_user_path do |f| %>
      <table class="table table-borderless text-white">
        <tr>
          <th>会員ID</th><td><%= @end_user.id %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ニックネーム" %></td>
        </tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%></td>
        </tr>
        <!--ラジオボタンにて会員のステータスを変更可能-->
        <tr>
          <th>会員ステータス</th>
          <td>
            <%= f.radio_button :is_active, "true" %>
            <%= f.label :is_active, "有効", value: true %>
            <%= f.radio_button :is_active, "false" %>
            <%= f.label :is_active, "退会",value: false %>
          </td>
        </tr>
      </table>
      <div class="col-5 offset-5">
        <%= f.submit "変更を保存", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
    </div>
  </div>
</div>