<!--管理者の会員情報詳細画面-->
<div class="container my-5">
  <div class="row my-3 offset-1">
    <div class="col-4">
      <h4><<%= @end_user.name %>さんの会員詳細></h4>
    </div>
  </div>

<!--会員の登録情報-->
  <div class="row offset-2">
    <div class="col-6 ">
      <table class="table table-borderless text-white">
        <tr>
          <th>会員ID</th><td><%= @end_user.id %></td>
        </tr>
        <tr>
          <th>ニックネーム</th><td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th><td><%= @end_user.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @end_user.is_active %>
              <p class="text-success"><strong>有効</strong></p>
            <% elsif %>
              <p class="text-muted"><strong>退会</strong></p>
            <% end %>
          </td>
        </tr>
      </table>
    <div class="col-5 offset-6">
      <%= link_to "編集する", edit_admin_end_user_path, class: "btn btn-success btn-block" %>
    </div>
    </div>
  </div>
</div>