<div class="container my-5">
  <div class="row my-3 offset-1">
    <div class="col-4">
      <h4><投稿・コメント一覧></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table text-white">
        <thead class="thead-light">
          <tr>
            <th>投稿日時</th>
            <th>ニックネーム</th>
            <th>タイトル</th>
            <th>コメント件数</th>
          </tr>
        </thead>
        <tbody>
        <% @post_plamos.order(created_at: :desc).each do |post_plamo| %>
          <td>
            <%= link_to admin_post_plamo_path(post_plamo) do %>
              <p><%= post_plamo.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
            <% end %>
          </td>
          <td><%= post_plamo.end_user.name %></td>
          <td><%= post_plamo.title %></td>
          <td><%= post_plamo.post_comments.count %>件</td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-13mx-auto">
      <%= paginate @post_plamos %>
    </div>
  </div>
</div