<div class="container">
  <div class="row mx-auto">
    <div class="col-5">
      <div class="slider">
        <% @post_plamo.plamo_images.each do |images| %>
          <%= image_tag images.variant(resize:'300x300'), class:"img" %>
        <% end %>
      </div>
      <div class="thumbnail">
        <% @post_plamo.plamo_images.each do |images| %>
          <%= image_tag images, class:"img" %>
        <% end %>
      </div>
    </div>

    <div class="col-6 mt-5 ml-5">
      <%= link_to "削除する", admin_post_plamo_path(@post_plamo.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>

      <table class="table table-borderless">
        <tr>
          <th class="table_item_name">ニックネーム</th>
          <td><%= @post_plamo.end_user.name %></td>
        </tr>
        <tr>
          <th class="table_item_title">タイトル</th>
          <td><%= @post_plamo.title %></td>
        </tr>
        <tr>
          <th class="table_item_introduction">こだわりポイントや設定 etc</th>
        </tr>
        <tr>
          <td><%= safe_join(@post_plamo.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th>タグ</th>
          <% @post_plamo.tags.each do |tag| %>
            <td><%= tag.tag_name %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>コメント欄</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @post_plamo.post_comments.each do |post_comment| %>
        <tbody>
          <tr>
            <td class="align-middle text-center"><%= image_tag post_comment.end_user.get_profile_image, size:"60x60" %><%= post_comment.end_user.name %></td>
            <td class="align-middle text-center"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
            <td class="align-middle"><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></td>
            <td><%= link_to "削除", admin_post_comment_path(post_comment.id), method: :delete, class: "btn btn-outline-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>